# Env
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
.python-version

# Virtual environment
.venv/
venv/

# Distribution / packaging
build/
dist/
develop-eggs/
*.egg-info/

# Specific files
.env

# Data
data/

# Logs
logs/

# Langgraph / Langsmith
langgraph/
langsmith/
.langgraph_api/
*.pckl

# SQLite checkpoint databases
checkpoints.db
*.db